* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #4b4b4b;
}
.top-line {
    position: absolute;
    width: 100%;
}
.nav-menu {
    float: right;
    padding: 30px 30px 0 30px;
}
.mail-picture,
.apps-button,
.apps,
.button{
    display: inline-block;
    vertical-align: middle;
}
.mail-picture a {
    padding: 0 5px;
}
.mail-picture a:hover {
    text-decoration: underline;
}
.apps {
    background: url(../img/apps1.png) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 10px;
}
.apps:hover {
    background-image: url(../img/apps.png);
}
.button {
    background: #4385f7;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 2px;
    cursor: default;
    font-size: 14px;
}
.main-search {
    padding-top: 90px;
}
.main-icon {
    background: url(../img/main_icon.png) no-repeat;
    background-size: cover;
    height: 92px;
    width: 272px;
    margin: 110px auto 0 auto;
    cursor: pointer;
}
form {
    width: 40%;
    margin: 35px auto 0 auto;
}
.wrap-line {
    border: 1px solid #80808038;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    display: flex; 
    align-items: center;
}
input,
.keyboards,
.micro {
    display: inline-block;
    vertical-align: middle;
}
input.input-text {
    border: none;
    width: 100%;
    height: 45px;
    padding: 0 15px 0 15px;
    font-size: 17px;
}
.keyboards {
    background: url(../img/keyboards.png) no-repeat;
    background-size: 100% auto;
    height: 12px;
    width: 27px;
    margin: 0px 15px;
    cursor: pointer;   
}
.keyboards:hover {
    background-image: url(../img/keyboards1.gif);
}
.micro {
    background: url(../img/micro.png) no-repeat;
    background-size: 100% auto;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
}
.wrap-buttons-search {
    text-align: center;
    margin: 17px 0 0 0; 
}
.wrap-buttons-search input {
    height: 36px; 
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 13.5px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 14px;
    text-align: center;
    font-family: "Arial", sans-serif;
}
.text {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
.text a{
    color: #1a0dab;
}
.btn-search:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
.btn-second:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
.button:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
#footer {
    display: block;
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}
.qwerty {
    margin: 0 auto;
    min-width: 980px;
}
#noname {
    display: block;
}
#qq {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
}
.ww {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.qq {
    font-size: small;
    margin-left: -27px;
}
.qwe {
    border-bottom: 1px solid #e4e4e4;

}
.name {
    margin-left: 30px;
    text-align: left;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
}
.belarus {
    font-size: 15px;
}
#zxc {
    margin-right: 30px;
    float: right;
    white-space: nowrap;
}
.conf {
    padding-left: 27px;
    margin: 0 !important;
}
#sad {
    margin-left: 30px;
    white-space: nowrap;
}
#zxc a:hover {
    text-decoration: underline;
}
#sad a:hover{
    text-decoration: underline;
}
